# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Alembic migrations (only if you don't want to track yet)
# alembic/

# Database
*.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
